<!--The content below is only a placeholder and can be replaced.-->
<div >
    <mat-toolbar>
      <h1>
        Welcome to {{ title }}!
      </h1>
  </mat-toolbar>
  <mat-card>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
  </mat-card>
  <mat-card>
      <mat-select placeholder="choose">
        <mat-option value="option1">option 1</mat-option>
        <mat-option value="option2">option 2</mat-option>
        <mat-option value="option3">option 3</mat-option>
      </mat-select>
  </mat-card>
</div>


