<div class="signin-form">
  <img src="../../assets/logo.png" class="signin-logo">
  <div class="signin-title">rebalance</div>
  <label>
    <mat-form-field>
      <input matInput [(ngModel)]="username" value="username" placeholder="username">
    </mat-form-field>
  </label>

  <a href="/dashboard/{{username}}/current">
    <button mat-raised-button color="warn" >Login</button>
  </a>

  <label>
    <mat-form-field>
      <input matInput [(ngModel)]="usernameNew" value="usernameNew" placeholder="username">
    </mat-form-field>
  </label>

  <!-- <a href="/dashboard/{{usernameNew}}/input"> -->
  <button mat-raised-button color="warn" font="white" class="app-button" (click)="onClick()">Create user</button>
</div>
