// import our custom theme
@import '../node_modules/@angular/material/_theming.scss';
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat-palette($mat-indigo, 200, 500, 300);
$accent: mat-palette($mat-blue-grey, 400);
$warn: mat-palette($mat-deep-orange, A200);

// The warn palette is optional (defaults to red).

// create theme
$theme: mat-light-theme(
  $primary,
  $accent,
  $warn
);

// Angular Material selects sensible defaults $default: 500, $lighter: 100, $darker: 700.