<div *ngIf="data" class="container">

  <div class="current-title">current portfolio</div>

  <!-- 1st table -->
  <table mat-table [dataSource]="data.bonds">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="column-name-first">Index</th>
      <td mat-cell *matCellDef="let element" class="column-name-first">{{element.name}}</td>
      <td mat-footer-cell *matFooterCellDef colspan="1" class="column-name-first">Total Bonds</td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef class="table-column-value-first">Value, $</th>
      <td mat-cell *matCellDef="let element" class="table-column-value-first">{{element.value | currency: 'USD' : 'symbol' : '1.0'}}</td>
      <td mat-footer-cell *matFooterCellDef class="table-column-value-first">{{getTotal(data.bonds, 'value') | currency: 'USD' : 'symbol' : '1.0'}}</td>
    </ng-container>

    <ng-container matColumnDef="target">
      <th mat-header-cell *matHeaderCellDef class="table-column-target-first">Target Allocation</th>
      <td mat-cell *matCellDef="let element" class="table-column-target-first">{{element.target /1000 | percent}}</td>
      <td mat-footer-cell *matFooterCellDef class="table-column-target-first">{{getTotal(data.bonds, 'target') /1000 | percent}}</td>
    </ng-container>

    <ng-container matColumnDef="current-allocation">
      <th mat-header-cell *matHeaderCellDef class="table-column-curralloc">Current Allocation</th>
      <td mat-cell *matCellDef="let element" class="table-column-curralloc">{{element.currentAlloc/1000 | percent}}</td>
      <td mat-footer-cell *matFooterCellDef class="table-column-curralloc">{{getTotal(data.bonds, 'currentAlloc')/1000 | percent}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>

  <!-- 2nd table -->
  <table mat-table [dataSource]="data.stocks">

    <ng-container matColumnDef="name">
      <td mat-cell *matCellDef="let element" class="column-name">{{element.name}}</td>
      <td mat-footer-cell *matFooterCellDef class="column-name">Total Stocks</td>
    </ng-container>

    <ng-container matColumnDef="value">
      <td mat-cell *matCellDef="let element" class="table-column-value">{{element.value | currency: 'USD' : 'symbol' : '1.0'}}</td>
      <td mat-footer-cell *matFooterCellDef class="table-column-value">{{getTotal(data.stocks, 'value') | currency: 'USD' : 'symbol' : '1.0'}}</td>
    </ng-container>

    <ng-container matColumnDef="target">
      <td mat-cell *matCellDef="let element" class="table-column-target">{{element.target /1000 | percent}}</td>
      <td mat-footer-cell *matFooterCellDef class="table-column-target">{{getTotal(data.stocks, 'target') /1000 | percent}}</td>
    </ng-container>

    <ng-container matColumnDef="current-allocation">
      <td mat-cell *matCellDef="let element" class="table-column-curralloc">{{element.currentAlloc /1000 |percent}}</td>
      <td mat-footer-cell *matFooterCellDef class="table-column-curralloc">{{getTotal(data.stocks, 'currentAlloc')/1000 | percent}}</td>
    </ng-container>

    <ng-container matColumnDef="totalPortfolio">
      <td mat-footer-cell *matFooterCellDef colspan="1" class="column-name">
        Total Portfolio
      </td>
    </ng-container>

    <ng-container matColumnDef="totalValue">
      <td mat-footer-cell *matFooterCellDef class="table-column-value">
        {{getTotal(data.stocks, 'value') + getTotal(data.bonds, 'value') | currency: 'USD' : 'symbol' : '1.0'}}
      </td>
    </ng-container>
    <ng-container matColumnDef="totalPercent">
      <td mat-footer-cell *matFooterCellDef class="table-column-target">
          {{getTotal(data.stocks, 'target') /1000 + getTotal(data.bonds, 'target') /1000 | percent}}
      </td>
    </ng-container>
    <ng-container matColumnDef="currentPercent" class="table-column-curralloc">
      <td mat-footer-cell *matFooterCellDef class="table-column-curralloc">
        {{((getTotal(data.stocks, 'currentAlloc') + getTotal(data.bonds, 'currentAlloc')))/1000 | percent}}
      </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="['totalPortfolio', 'totalValue', 'totalPercent', 'currentPercent']"></tr>
  </table>

  <button mat-raised-button color="warn" [routerLink]="['../rebalance']">Rebalance</button>
  <button mat-raised-button color="warn" [routerLink]="['../input']">Back to input</button>

</div>
