<div>
    <div>
      <label>Investment/Withdrawal, $
        <mat-form-field>
          <input matInput [(ngModel)]="investment" type="number" value="investment" placeholder="0">
        </mat-form-field>
      </label>
    </div>

    <div>
      <!-- 1st table -->
      <table mat-table [dataSource]="bonds">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef class="table-column">Index</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
          <td mat-footer-cell *matFooterCellDef colspan="1">Total Bonds</td>
        </ng-container>

        <ng-container matColumnDef="units">
          <th mat-header-cell *matHeaderCellDef class="table-column">Units</th>
          <td mat-cell *matCellDef="let element">
            <input [ngModel]="element.units" (ngModelChange)="bondsValuechange($event, element, 'units')" type="number" placeholder="0">
          </td>
          <td mat-footer-cell *matFooterCellDef>{{getTotal(bonds, 'units')}}</td>
        </ng-container>

        <ng-container matColumnDef="target">
          <th mat-header-cell *matHeaderCellDef class="table-column">Target Allocation, %</th>
          <td mat-cell *matCellDef="let element">
            <input [ngModel]="element.target" (ngModelChange)="bondsValuechange($event, element, 'target')" type="number" placeholder="0">
          </td>
          <td mat-footer-cell *matFooterCellDef>{{getTotal(bonds, 'target')}}%</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
      </table>

      <!-- 2nd table -->
      <table mat-table [dataSource]="stocks">
        <ng-container matColumnDef="name">
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
          <td mat-footer-cell *matFooterCellDef class="table-column">Total Stocks</td>
        </ng-container>

        <ng-container matColumnDef="units">
          <td mat-cell *matCellDef="let element">
            <input [ngModel]="element.units" (ngModelChange)="stocksValuechange($event, element, 'units')" type="number" placeholder="0">
          </td>
          <td mat-footer-cell *matFooterCellDef class="table-column">{{getTotal(stocks, 'units')}}</td>
        </ng-container>

        <ng-container matColumnDef="target">
          <td mat-cell *matCellDef="let element">
              <input [ngModel]="element.target" (ngModelChange)="stocksValuechange($event, element, 'target')" type="number" placeholder="0">
          </td>
          <td mat-footer-cell *matFooterCellDef class="table-column">{{getTotal(stocks, 'target')}}%</td>
        </ng-container>

        <ng-container matColumnDef="totalPortfolio">
          <td mat-footer-cell *matFooterCellDef colspan="1">
            Total Portfolio
          </td>
        </ng-container>

        <ng-container matColumnDef="totalValue">
          <td mat-footer-cell *matFooterCellDef>
            {{getTotal(stocks, 'units') + getTotal(bonds, 'units')}}
          </td>
        </ng-container>
        <ng-container matColumnDef="totalPercent">
          <td mat-footer-cell *matFooterCellDef>
              {{getTotal(stocks, 'target') + getTotal(bonds, 'target')}}%
          </td>
        </ng-container>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="['totalPortfolio', 'totalValue', 'totalPercent']"></tr>
      </table>

    </div>

    <button mat-raised-button color="warn" [routerLink]="['../current']" (click)="onSubmit()">Submit</button>

</div>

